/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; } /* from transparent to solid*/
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}  /*fades in whilst sliding down 20px from its og spot*/

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} /*slides up 20px*/

@keyframes spin {
    to { transform: rotate(360deg); } /*full 360 deg rotation*/
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    75% { transform: translateX(10px); }
}
