#repoForm{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#repos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    margin: 15px;
}